@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --black: #1b1b1b;
}

body {
    color: var(--black);
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    font-family: 'Blinker', sans-serif;
}

.title {
    font-family: 'Blinker', sans-serif;
}

table tr:first-child th:first-child {
    border-top-left-radius: 0.5rem !important;
}

table tr:first-child th:last-child {
    border-top-right-radius: 0.5rem !important;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 0.5rem !important;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 0.5rem !important;
}

input[type="submit"] {
    margin-top: 1em;
}

.form-label {
    font-family: 'Blinker', sans-serif;
    font-weight: 500;
}